Repository crypdick/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index, mypy

check-python-syntax:
  name: check Python syntax
  entry: uv run --no-project python -m py_compile
  language: system

check-executable:
  name: check scripts are executable
  entry: uv run --no-project python ci/check_executable.py
  language: system

check-no-argparse:
  name: check no argparse (use click)
  entry: uv run --no-project python ci/check_no_argparse.py
  language: system

check-no-print:
  name: check no print() (use click.echo)
  entry: uv run --no-project python ci/check_no_print.py
  language: system

check-main-guard:
  name: check if __name__ == __main__ guard
  entry: uv run --no-project python ci/check_main_guard.py
  language: system

check-no-any:
  name: check no typing.Any
  entry: uv run --no-project python ci/check_no_any.py
  language: system

generate-index:
  name: generate index.html
  entry: uv run ci/generate_index.py
  language: system
  pass_filenames: false

mypy:
  name: mypy (strict)
  entry: bash -c 'uvx --with mypy --with types-Markdown mypy ci/generate_index.py'
  language: system
  pass_filenames: false

Disable ruff line-length rule
  pyproject.toml
Due: none

Add python tool parsing and rel links
  ci/generate_index.py
  index.html
Due: check-python-syntax, check-no-any, generate-index, mypy

Update URLs to use tools.ricardodecal.com
  README.md
  ci/generate_index.py
  index.html
  pyproject.toml
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index, mypy

Replace raw.githubusercontent.com URLs with tools.ricardodecal.com
  README.md
  index.html
  python/README.md
  tests/README.md
Due: generate-index

feat: Enhance README generation and update documentation
  .pre-commit-config.yaml
  TOOLS_GUIDE.md
  ci/README_BASE.md
  ci/generate_index.py
  ci/generate_readme.py
  index.html
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index, mypy

docs: Update README.md with critical docstring guidelines and examples
  python/README.md
Due: none

ci: enable concurrency cancellation for lint and test workflows
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

polish readme; trigger index regen if README_base is edited
  .pre-commit-config.yaml
  README.md
  ci/README_BASE.md
  index.html
Due: generate-index

fix: Update footer in index.html and README files to include author attribution
  README.md
  ci/README_BASE.md
  ci/generate_index.py
  index.html
Due: check-python-syntax, check-no-any, generate-index, mypy

better formatting for code blocks
  .github/GITHUB_PAGES_SETUP.md
  README.md
  bash/README.md
  ci/README.md
  index.html
  lib/README.md
  python/README.md
  python/yt_transcript.py
  tests/README.md
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

ensure all scripts have a --help flag
  .pre-commit-config.yaml
  README.md
  ci/README.md
  ci/check_help.py
  index.html
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

refactor: Remove check-help script and update README generation
  .pre-commit-config.yaml
  README.md
  ci/check_help.py
  ci/generate_readme.py
  index.html
  python/README.md
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

add convert_arrow_to_parquet_streaming.py to tools
  .github/copilot-instructions.md
  README.md
  index.html
  pyproject.toml
  python/README.md
  python/convert_arrow_to_parquet_streaming.py
  tests/README.md
  tests/conftest.py
  tests/test_placeholder.py
  tests/test_yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

feat: add strip_pdf_metadata.py tool
  README.md
  index.html
  python/strip_pdf_metadata.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

Add python/count_parquet_rows.py tool and update docs
  README.md
  index.html
  python/count_parquet_rows.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

rm tests from ci
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Add download_video.py and update docs
  .github/GITHUB_PAGES_SETUP.md
  README.md
  index.html
  python/download_video.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

Update download_video.py output handling and fix README examples formatting
  README.md
  index.html
  python/README.md
  python/download_video.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

Update download_video.py examples to include output file usage
  README.md
  index.html
  python/download_video.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

Ensure all python scripts expand user paths (~)
  python/README.md
  python/convert_arrow_to_parquet_streaming.py
  python/count_parquet_rows.py
  python/download_video.py
  python/strip_pdf_metadata.py
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

Add ipynb_to_py_sphinx tool
  README.md
  index.html
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-index

Refactor magic command handling to be per-cell
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

Add robustness: Pandoc check, Raw cells, and IPython help syntax
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

feat: strictly enforce first cell as markdown in ipynb_to_py_sphinx
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

Update ipynb_to_py_sphinx.py to use code-block directive
  .cursor/commands/git-commit.md
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

fix(ipynb_to_py_sphinx): prevent modulo operator from being treated as magic command
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

handle non-Python cell magics (like %%bash)
  python/ipynb_to_py_sphinx.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any

rewrite web tool cmd into readme
  .cursor/commands/web-tool.md
  html/README.md
Due: none

make readme more comprehensive
  html/README.md
Due: none

Make tools collapsible in HTML generator
  ci/generate_index.py
  index.html
Due: check-python-syntax, check-no-any, generate-index, mypy

Add Claude Code Review GitHub Action
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code Workflow for Enhanced Issue and PR Reviews
  .github/workflows/claude.yml
Due: none

Improve index.html footer styling and content
  ci/generate_index.py
  index.html
Due: check-python-syntax, check-no-any, generate-index, mypy

Move Apache 2.0 license to footer
  ci/generate_index.py
  html/README.md
  index.html
Due: check-python-syntax, check-no-any, generate-index, mypy

Path conditions:
  check-python-syntax: any of: \.py$
  check-executable: any of: ^(python/|bash/), but not: ^(python/README\.md|bash/README\.md)
  check-no-argparse: any of: ^python/ and \.py$
  check-no-print: any of: ^python/ and \.py$
  check-main-guard: any of: ^python/ and \.py$
  check-no-any: any of: \.py$
  generate-index: any of: ^README\.md$|^ci/generate_index\.py$
  mypy: any of: ^ci/generate_index\.py$
