Repository crypdick/tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index, mypy

.pre-commit-config.yaml:

# Run with `uvx pre-commit run --all-files`
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff-check
        args: [--fix, --quiet]
      - id: ruff-format
        args: [--quiet]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py312-plus]

  - repo: https://github.com/ikamensh/flynt/
    rev: '1.0.6'
    hooks:
      - id: flynt

  # Shellcheck for bash scripts
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      # Basic checks
      - id: check-python-syntax
        name: check Python syntax
        entry: uv run --no-project python -m py_compile
        language: system
        types: [python]

      - id: check-executable
        name: check scripts are executable
        entry: uv run --no-project python ci/check_executable.py
        language: system
        files: ^(python/|bash/)
        exclude: ^(python/README\.md|bash/README\.md)

      # Custom repository standards
      - id: check-no-argparse
        name: check no argparse (use click)
        entry: uv run --no-project python ci/check_no_argparse.py
        language: system
        types: [python]
        files: ^python/

      - id: check-no-print
        name: check no print() (use click.echo)
        entry: uv run --no-project python ci/check_no_print.py
        language: system
        types: [python]
        files: ^python/

      - id: check-main-guard
        name: check if __name__ == __main__ guard
        entry: uv run --no-project python ci/check_main_guard.py
        language: system
        types: [python]
        files: ^python/

      - id: check-no-any
        name: check no typing.Any
        entry: uv run --no-project python ci/check_no_any.py
        language: system
        types: [python]

      - id: generate-readme
        name: generate README.md from docstrings and README_BASE.md
        entry: uv run ci/generate_readme.py
        language: system
        files: ^ci/README_BASE\.md$|^python/.*\.py$|^ci/generate_readme\.py$
        pass_filenames: false

      - id: generate-index
        name: generate index.html from README.md
        entry: uv run ci/generate_index.py
        language: system
        files: ^README\.md$|^ci/generate_index\.py$|^ci/README_BASE\.md$|^python/.*\.py$|^ci/generate_readme\.py$
        pass_filenames: false

      # Type checking with strict mypy
      - id: mypy
        name: mypy (strict)
        entry: bash -c 'uvx --with mypy --with types-Markdown mypy ci/generate_index.py'
        language: system
        files: ^ci/generate_index\.py$
        pass_filenames: false

Move Apache 2.0 license to footer
  ci/generate_index.py
  html/README.md
  index.html
Due: check-python-syntax, check-no-any, generate-index, mypy

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Restore repo-specific config and merge with new improvements
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

Migrate to .devtools for configuration management
  .cursor/commands/git-commit.md
  .cursor/commands/update-index-html.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .gitignore
  ci/generate_index.py
  html/README.md
Due: check-python-syntax, check-no-any, generate-index, mypy

Add .envrc to gitignore
  .gitignore
Due: none

Add dedup_dirs: find and delete duplicate files between directories
  README.md
  index.html
  python/dedup_dirs.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index

feat: organize tools by category with collapsible sections
  README.md
  ci/generate_index.py
  ci/generate_readme.py
  index.html
  python/convert_arrow_to_parquet_streaming.py
  python/count_parquet_rows.py
  python/dedup_dirs.py
  python/download_video.py
  python/ipynb_to_py_sphinx.py
  python/strip_pdf_metadata.py
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index, mypy

fix: use HTML code tags instead of markdown backticks in details blocks
  README.md
  ci/generate_readme.py
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index

fix: sort categories alphabetically
  README.md
  ci/generate_readme.py
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index

Add burn_iso and html_to_text tools, consolidate categories
  README.md
  ci/generate_readme.py
  index.html
  python/burn_iso.py
  python/dedup_dirs.py
  python/download_video.py
  python/html_to_text.py
  python/strip_pdf_metadata.py
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index

Add HTML tools and update CI to support both scripts and pages
  README.md
  ci/README.md
  ci/README_BASE.md
  ci/check_html_metadata.py
  ci/generate_index.py
  ci/generate_readme.py
  html/README.md
  html/html_to_text.html
  html/strip_pdf_metadata.html
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index, mypy

Don't collapse HTML page descriptions in README
  README.md
  ci/generate_readme.py
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index

Interleave scripts and pages alphabetically, use consistent box styling for pages
  README.md
  ci/generate_readme.py
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index

Use non-collapsible div for HTML pages, fix alignment
  README.md
  ci/generate_index.py
  ci/generate_readme.py
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index, mypy

Change [script] label to [python]
  README.md
  ci/generate_readme.py
  index.html
Due: check-python-syntax, check-no-any, generate-readme, generate-index

lint
  ci/check_html_metadata.py
  ci/generate_index.py
  ci/generate_readme.py
  html/html_to_text.html
  html/strip_pdf_metadata.html
  index.html
  python/burn_iso.py
  python/html_to_text.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index, mypy

Migrate from Click to Typer + Rich
  .pre-commit-config.yaml
  ci/README.md
  ci/check_no_argparse.py
  ci/check_no_print.py
  ci/check_rich_print.py
  ci/check_typer_cli.py
  pyproject.toml
  python/README.md
  python/burn_iso.py
  python/convert_arrow_to_parquet_streaming.py
  python/count_parquet_rows.py
  python/dedup_dirs.py
  python/download_video.py
  python/html_to_text.py
  python/ipynb_to_py_sphinx.py
  python/strip_pdf_metadata.py
  python/yt_transcript.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index

improve html_to_text extraction
  README.md
  ci/generate_readme.py
  index.html
  python/html_to_text.py
Due: check-python-syntax, check-executable, check-no-argparse, check-no-print, check-main-guard, check-no-any, generate-readme, generate-index
